body{
    padding: 50px 100px;
    background: url(./—Pngtree—high\ temperature\ summer\ sun\ blue_1474808.jpg);
    background-size: cover;
}

h1{
    text-align: center;
}

#container{
    text-align: center;
    padding: 50px; 
}

.input-div{
    display: inline-block;
}

.inp{
    padding: 5px 10px;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    width: 250px;
    text-align: center;
}

label{
    font-size: 22px;
    font-weight: bold;
}